name: Lint

on: [push, pull_request]

jobs:
  precommit:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6

      - name: Set up latest Python
        uses: actions/setup-python@v6
        with:
          python-version: "3.13"

      - name: Run pre-commit hooks
        uses: pre-commit/action@v3.0.1
